name: Unit Tests CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  frontend-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - run: npm ci
    - run: npm test

  backend-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [auth-service, blog-service, booking-service, gateway, parking-service, payment-service, support-service]
    defaults:
      run:
        working-directory: ./services/${{ matrix.service }}
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: services/${{ matrix.service }}/package-lock.json
    - run: npm install # Using install instead of ci as lockfiles might be missing or out of sync
    - run: npm test
